<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <meta name="description" content="">
    <meta name="author" content="Logan Christopher">
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../Style/BS/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../Style/Custom/Index-logan.css" rel="stylesheet">

    <!-- Page will not display properly until further body elements are added. -->
  </head>

  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span style="cursor:pointer" class="navbar-toggler-icon"></span>
      </button>

      <div id="nav2">
        <img src="../../loganlocal-pics/logo/Logan-Local-Logo.png" alt="Logan Local" height="50px" width="50px" style="margin-right:10px">
        <a class="navbar-brand" href="../../index.html" style="padding:8px 8px 8px 8px; margin-top:4px;">Logan Local</a>
      </div>

      <img id="nav1" src="../../loganlocal-pics/logo/Logan-Local-Logo.png" alt="Logan Local" height="50px" width="50px" style="margin-right:10px;">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li id="nav1" class="nav-item">
            <a class="navbar-brand" href="#" style="padding:8px 8px 8px 8px">Logan Local</a>
          </li>
          <li class="nav-item" style="margin-top:4px">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" style="margin-top:4px">
            <a class="nav-link" href="#">Prices & Installations</a>
          </li>
          <li class="nav-item" style="margin-top:4px">
            <a class="nav-link" href="#">Appointments</a>
          </li>
          <li class="nav-item" style="margin-top:4px">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End -->

    <p style="color:black; margin: 100px 50px 50px 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ultrices enim. Mauris non viverra elit, vitae convallis lorem. Aliquam vel auctor metus. Nam est turpis, mollis at sapien nec, ornare dignissim purus. Curabitur nulla arcu, aliquam vitae egestas in, congue ac nunc. Suspendisse eget porttitor odio. Cras quis dapibus risus, at feugiat tellus. Mauris in quam at ligula pulvinar pellentesque. Aliquam sed dolor quam. Morbi finibus massa eros, eu iaculis mi convallis eget. Aliquam a maximus mi. Vestibulum accumsan velit eget nisi fringilla semper. Curabitur iaculis in ligula id aliquet. Nullam erat dui, pharetra id ex fermentum, varius mollis risus. Etiam ullamcorper tortor erat, a dictum neque consectetur eget. Aliquam quis egestas velit.

Morbi vitae justo vitae quam lacinia accumsan. Etiam egestas sed quam ac interdum. Nulla eu urna eu dolor suscipit viverra. Donec malesuada pharetra risus, sit amet pharetra felis aliquam sit amet. Nulla ultrices lectus eu ultricies tempus. Pellentesque accumsan metus vitae enim fermentum suscipit. Aenean eget rhoncus ligula.

Maecenas porttitor quam est, eu venenatis elit pellentesque et. Proin lacus justo, ultricies a massa ut, dictum aliquam ex. Proin quis mauris elit. Donec augue odio, ornare quis elit vel, tempor laoreet leo. Sed sed dignissim est. Aliquam accumsan urna quis lorem tincidunt tempor. Nullam sollicitudin ex at tellus porta, in bibendum lectus congue. Vestibulum quis nisl vulputate purus sodales gravida quis viverra lorem.

Proin tempus rhoncus lacus, sed vehicula tellus fringilla vel. Etiam tincidunt metus a diam luctus gravida. Phasellus quis nibh mauris. Nunc imperdiet tincidunt viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut tristique ac leo sed faucibus. Nulla ut molestie mauris. Ut ultrices in diam vitae tempor. Morbi egestas ligula quis eleifend interdum. Donec nec est lectus.

Donec ullamcorper accumsan erat. Quisque sit amet elit convallis, dictum erat quis, aliquam libero. Nunc sit amet augue auctor, tristique leo nec, finibus quam. Pellentesque vestibulum cursus gravida. Suspendisse bibendum diam sapien, eget tempor diam luctus et. Donec turpis quam, vehicula sit amet feugiat ut, interdum a dolor. Quisque lobortis pharetra magna, sit amet imperdiet enim. Suspendisse justo felis, sodales at leo nec, rutrum sagittis lacus. Integer luctus, enim vel facilisis iaculis, est leo ornare quam, lacinia condimentum leo turpis ut lacus. Pellentesque at venenatis neque, nec lacinia erat. Nunc vulputate nisi sed maximus volutpat. Vivamus hendrerit erat ex, quis facilisis felis ultrices sed.</p>

<p style="color:black; margin: 100px 50px 50px 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ultrices enim. Mauris non viverra elit, vitae convallis lorem. Aliquam vel auctor metus. Nam est turpis, mollis at sapien nec, ornare dignissim purus. Curabitur nulla arcu, aliquam vitae egestas in, congue ac nunc. Suspendisse eget porttitor odio. Cras quis dapibus risus, at feugiat tellus. Mauris in quam at ligula pulvinar pellentesque. Aliquam sed dolor quam. Morbi finibus massa eros, eu iaculis mi convallis eget. Aliquam a maximus mi. Vestibulum accumsan velit eget nisi fringilla semper. Curabitur iaculis in ligula id aliquet. Nullam erat dui, pharetra id ex fermentum, varius mollis risus. Etiam ullamcorper tortor erat, a dictum neque consectetur eget. Aliquam quis egestas velit.

Morbi vitae justo vitae quam lacinia accumsan. Etiam egestas sed quam ac interdum. Nulla eu urna eu dolor suscipit viverra. Donec malesuada pharetra risus, sit amet pharetra felis aliquam sit amet. Nulla ultrices lectus eu ultricies tempus. Pellentesque accumsan metus vitae enim fermentum suscipit. Aenean eget rhoncus ligula.

Maecenas porttitor quam est, eu venenatis elit pellentesque et. Proin lacus justo, ultricies a massa ut, dictum aliquam ex. Proin quis mauris elit. Donec augue odio, ornare quis elit vel, tempor laoreet leo. Sed sed dignissim est. Aliquam accumsan urna quis lorem tincidunt tempor. Nullam sollicitudin ex at tellus porta, in bibendum lectus congue. Vestibulum quis nisl vulputate purus sodales gravida quis viverra lorem.

Proin tempus rhoncus lacus, sed vehicula tellus fringilla vel. Etiam tincidunt metus a diam luctus gravida. Phasellus quis nibh mauris. Nunc imperdiet tincidunt viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut tristique ac leo sed faucibus. Nulla ut molestie mauris. Ut ultrices in diam vitae tempor. Morbi egestas ligula quis eleifend interdum. Donec nec est lectus.

Donec ullamcorper accumsan erat. Quisque sit amet elit convallis, dictum erat quis, aliquam libero. Nunc sit amet augue auctor, tristique leo nec, finibus quam. Pellentesque vestibulum cursus gravida. Suspendisse bibendum diam sapien, eget tempor diam luctus et. Donec turpis quam, vehicula sit amet feugiat ut, interdum a dolor. Quisque lobortis pharetra magna, sit amet imperdiet enim. Suspendisse justo felis, sodales at leo nec, rutrum sagittis lacus. Integer luctus, enim vel facilisis iaculis, est leo ornare quam, lacinia condimentum leo turpis ut lacus. Pellentesque at venenatis neque, nec lacinia erat. Nunc vulputate nisi sed maximus volutpat. Vivamus hendrerit erat ex, quis facilisis felis ultrices sed.</p>

<p style="color:black; margin: 100px 50px 50px 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ultrices enim. Mauris non viverra elit, vitae convallis lorem. Aliquam vel auctor metus. Nam est turpis, mollis at sapien nec, ornare dignissim purus. Curabitur nulla arcu, aliquam vitae egestas in, congue ac nunc. Suspendisse eget porttitor odio. Cras quis dapibus risus, at feugiat tellus. Mauris in quam at ligula pulvinar pellentesque. Aliquam sed dolor quam. Morbi finibus massa eros, eu iaculis mi convallis eget. Aliquam a maximus mi. Vestibulum accumsan velit eget nisi fringilla semper. Curabitur iaculis in ligula id aliquet. Nullam erat dui, pharetra id ex fermentum, varius mollis risus. Etiam ullamcorper tortor erat, a dictum neque consectetur eget. Aliquam quis egestas velit.

Morbi vitae justo vitae quam lacinia accumsan. Etiam egestas sed quam ac interdum. Nulla eu urna eu dolor suscipit viverra. Donec malesuada pharetra risus, sit amet pharetra felis aliquam sit amet. Nulla ultrices lectus eu ultricies tempus. Pellentesque accumsan metus vitae enim fermentum suscipit. Aenean eget rhoncus ligula.

Maecenas porttitor quam est, eu venenatis elit pellentesque et. Proin lacus justo, ultricies a massa ut, dictum aliquam ex. Proin quis mauris elit. Donec augue odio, ornare quis elit vel, tempor laoreet leo. Sed sed dignissim est. Aliquam accumsan urna quis lorem tincidunt tempor. Nullam sollicitudin ex at tellus porta, in bibendum lectus congue. Vestibulum quis nisl vulputate purus sodales gravida quis viverra lorem.

Proin tempus rhoncus lacus, sed vehicula tellus fringilla vel. Etiam tincidunt metus a diam luctus gravida. Phasellus quis nibh mauris. Nunc imperdiet tincidunt viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut tristique ac leo sed faucibus. Nulla ut molestie mauris. Ut ultrices in diam vitae tempor. Morbi egestas ligula quis eleifend interdum. Donec nec est lectus.

Donec ullamcorper accumsan erat. Quisque sit amet elit convallis, dictum erat quis, aliquam libero. Nunc sit amet augue auctor, tristique leo nec, finibus quam. Pellentesque vestibulum cursus gravida. Suspendisse bibendum diam sapien, eget tempor diam luctus et. Donec turpis quam, vehicula sit amet feugiat ut, interdum a dolor. Quisque lobortis pharetra magna, sit amet imperdiet enim. Suspendisse justo felis, sodales at leo nec, rutrum sagittis lacus. Integer luctus, enim vel facilisis iaculis, est leo ornare quam, lacinia condimentum leo turpis ut lacus. Pellentesque at venenatis neque, nec lacinia erat. Nunc vulputate nisi sed maximus volutpat. Vivamus hendrerit erat ex, quis facilisis felis ultrices sed.</p>

    <!-- FOOTER 1 & 2 switch based off of media queries-->
    <!-- FOOTER 1 -->
  <div id="footer1" class="container">
    <footer class="text-muted">
      <p>&copy; 2017 Logan Local Installs &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </div>

  <!-- FOOTER 2 -->
  <div id="footer2" class="container">
    <footer class="text-muted">
      <p><a>&copy; 2017 Logan Local Installs</a> &middot;</p>
      <p><a href='#'>Privacy</a> &middot;</p>
      <p><a href="#">Terms</a> &middot;</p>
    </footer>
  </div><!-- End Footer 1 & 2-->

  <!-- Scroll to top -->
  <a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <!-- Following js allows carousel and dropdown functions to work.
         Bootstrap core JavaScript.
         Placed at the end of the document so the pages load faster. -->
    <div>
      <!-- load Jquery 1.7.1 -->
      <script src="../../Style/scroll_js/jquery.min.js"></script>
      <script type="text/javascript">var jQuery_1_7_1 = $.noConflict(true);</script>

      <!-- Scroll js libraries -->
      <script src="../../Style/scroll_js/scroll.js"></script>
      <script src="../../Style/scroll_js/jsapi"></script>

      <!-- load Jquery 3.1.1 -->
      <script src="../../Style/Jquery/jquery-3.1.1.slim.min.js"></script>

      <script src="../../Style/Ajax/Tether/1.4.0/tether.min.js"></script>
      <script src="../../Style/BS/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../Style/ViewPort-Fix/ie10-viewport-bug-workaround.js"></script>
    </div><!-- End js-->

  </body>
</html>
