<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zoom NXUI</title>

    <link rel="stylesheet" href="../../Style/Custom/templates/NXUI.css">

  </head>
  <body class="container">

  <!-- <div class="row">

    <div class="col-3" style="margin-right:80px;">
      <div class="zoom" id="img1" style="margin-top:200px;">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3" style="margin-right:80px;">
      <div class="zoom" id="img1" style="margin-top:200px;">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="zoom" id="img1" style="margin-top:200px;">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

  </div> -->

  <!-- Start NXUI -->
  <div class="row" style="margin-top:200px;">

    <div class="col">
      <div class="zoom" id="img1">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="zoom" id="img1">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="zoom" id="img1">
        <div class="view overlay hm-stylish-strong rounded-circle" style="width: 300px; height:300px;">
          <div class="mask text-size" style="text-align:center;">
            <p id="Marg">Basic Single/Double Sub and Amp Install:</p>
            <p id="red">Competition Price: $140 - $230</p>
            <p id="green">Our Price: $100</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End -->
  </body>
</html>
