/* Media queries for changing carousel pics based on size of browser */
.image2 {
   display: none;
}

@media only screen and (max-width: 990px) {
   .image1 {
     display: none;
   }

   .image2 {
     display: block;
   }
}

.image3 {
  display: none;
}

@media only screen and (max-width: 500px) {
   .image1 {
     display: none;
   }

   .image2 {
     display: none;
   }

   .image3 {
     display: block;
   }
}
/* End */

/* Round images fixed and featurette corners rounded */
.round-fix {
  object-fit:cover;
}

.round-corners {
  border-radius:150px;
}
/* End */

/* parallax feature VVV */
.zDiv .parallax1 {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../loganlocal-pics/gt-sub.JPG);

    /* Fix BG opacity */
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    /* width: 100%; */
    /* height: 100%; */
}

.zDiv {
  position: relative;
  z-index: 1;
}
/* End */

/* Changes p elements text color */
p {
  color: white;
}
/* End */

/* Changes cursor to hand pointer for all elements*/
.btn {
  cursor: pointer;
}

a {
  cursor: pointer;
}
/* End */

/* Fix footer text color */
.text-muted > p {
  color: #636c72 !important;
}
/* End */

/* Switches footers based on media queries */
#footer1 {
  display: block;
}

#footer2 {
  display: none;
}

@media only screen and (max-width: 500px) {
  #footer1 {
      display: none;
  }

  #footer2 {
      display: block;
  }
}
/* End */

/* Adds scroll to top button */
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: rgb(193, 193, 193);
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    color: rgb(44, 44, 44);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: rgb(70, 70, 70);
	  color: #000;
}
/* End */
