html {
  font-family: helvetica;
}

.examples {
  text-align: center;
}
.image:hover {
  -webkit-transform: scale(1.35);
  transform: scale(1.35);
  opacity: .9;
}
.image {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 15px;
  margin: auto;
}
span.text-content {
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
span.text-content > span p {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}
div.row > div.img-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
div.img-list div {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 280px;
}
div.img-list div:hover span.text-content {
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#IMG-TOP {
  margin-top:250px;
}

#IMG-spec {
  margin-top:200px;
}

@media only screen and (max-width: 770px) {
  #IMG {
     margin-bottom: 190px;
   }

  #IMG-TOP {
    margin-top:0;
  }

  #IMG-spec {
    margin-bottom: 190px;
    margin-top: 0;
  }
}
